name: Deploy to VPS

on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
      - docs/**

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connect to VPS and Deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/ktor/ratatouille-backend
            git fetch origin master
            git reset --hard origin/master
            ./gradlew shadowJar
            sudo systemctl restart ratatouille-backend